<%- include('./common/head') %>


<div class="container">

    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Login</h2>

        <% if(locals.error){ %>
        <div class="bs-example-bg-classes">
           <p class="bg-danger">  <%= error %> </p>
        </div>
        <% } %>
        <% if(locals.success){ %>
        <div class="bs-example-bg-classes">
           <p class="bg-success bs-example-bg-classes">  <%= success %> </p>
        </div>
        <% } %>

        <div class="form-group">
        <label class="sr-only">用户帐号</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="用户名不能为空" required autofocus>

</div>
        <div class="form-group">
        <label  class="sr-only">用户密码</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="用户密码不能为空" required>
</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>

</div>

<%- include('./common/footer') %>
