body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.row-margin-top {
  margin-top: 20px;
}
.bs-example-bg-classes p {
  padding: 15px;
}